/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{font-size:30px; font-weight:normal; font-style: normal; color:#306;}
h2, .h2{font-size:26px; font-weight:normal; font-style: normal; color:#306;}
h3, .h3{font-size:22px; font-weight:normal; font-style: normal; color:#DF2B72;}
h4, .h4{font-size:20px; font-weight:normal; font-style: normal; color: #333;}
h5, .h5{font-size:16px; font-weight:bold; font-style: normal; color:#306;}
h6, .h6{font-size:12px; font-weight:normal; font-style: italic; color:#333;}
/* if additional headings are needed they should be created via additional classes, never via location dependant styling */
.category{font-size:108%; font-weight:normal; font-style: normal; text-transform:uppercase; color: #333;}
.category a{color: #333;}

 /* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote, .media, form {margin:10px 0;}
h1, h2, h3, h4, h5, h6,img{padding-bottom:0px;}
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl{padding:0;}

.form {
	
}

.form .grp {
	display: block;
	margin-bottom: 10px;
}

.form label {
	width: 150px;
	float: left;
	font-size: 16px;
	display: block;
	padding-top: 8px;
	text-align: right;
}

.form .inputHolder {
	margin-left: 160px;
	padding-right: 55px;
	position: relative;
}


.form input[type="text"],
.form .text{
	margin: 0;
	width: 100%;
	padding: 0 10px;
	line-height: 30px;
	font-size: 14px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.05);
	box-shadow: 0 1px 0px #fff, inset 0 1px 2px rgba(0,0,0,0.18);
	border-radius: 5px;
	z-index: 5;
	position: relative;
}

.form input:focus {
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
}

.form .extra {
	width: 48px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	z-index: 1;
	border-radius: 0 5px 5px 0;
}

.form .extra .icn {
	display: block;
	width: 30px;
	height: 30px;
	background: url(/static/images/extraSpriteSheet.png) 0 0 no-repeat;
	text-indent: -9999px;
	float: right;
}

.form .extra .icn.tick {
	background-position: 0 0;
}

.form .extra .icn.cross {
	background-position: 0 -30px;
}

.form .extra .icn.move {
	background-position: 0 -60px;
	cursor: move;
}

.form input[type="submit"] {
	float: right;
	margin-right: 32px;
}

.head {
	padding: 10px;
}
.foot {
	padding-bottom: 20px;
}
.adminLogo {
	display: block;
	width: 108px;
	height: 50px;
	background: url(/static/images/atlas_admin_logo.png);
	float: left;
}

.up, .down {
	display: block;
	width: 16px;
	height: 9px;
	background: url(/static/images/spriteSheet.png) top center no-repeat;
	text-indent: -9999px;
	margin: 5px auto 5px;
}

.down {
	background-position: bottom center;
}

nav {
	float: left;
	line-height: 50px;
	margin-left: 50px;
}

nav a {
	display: block;
	float: left;
	padding: 5px 10px;
	margin: 0 5px;
	font-size: 16px;
}

.sub h1 {
	float: left;
}

.sub nav {
	float: left;
	line-height: 50px;
	margin-left: 50px;
}

.sub nav a {
	display: block;
	float: left;
	padding: 5px 10px;
	margin: 0 5px;
	font-size: 16px;
}

.sub nav div {
	display: block;
	float: left;
	padding: 5px 10px;
	margin: 0 5px;
	font-size: 16px;
}

.overlayBlocker {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(0,0,0,0.4);
	z-index: 100;
}

.overlay {
	border: 10px solid rgba(255,255,255,0.8);
	border-radius: 10px;
	width: 600px;
	top: 200px;
	left: 50%;
	margin-left: -300px;
	position: absolute;
	background: #efefef;
	background: -moz-linear-gradient(top,  #efefef 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top,  #efefef 0%,#eee 100%);
	background: -o-linear-gradient(top,  #efefef 0%,#eee 100%);
	background: -ms-linear-gradient(top,  #efefef 0%,#eee 100%);
	background: linear-gradient(top,  #efefef 0%,#eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#eee',GradientType=0 );
}

.btn {
	padding: 6px 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	text-decoration: none;
}
.btn:hover {
	text-decoration: none;
	box-shadow: inset 0 0 5px #fff;
	cursor: pointer;
}

.btn.big {
	font-size: 20px;
	padding: 12px 16px;
}
.btn.loading {
	position: relative;
	padding-left: 36px;
	margin-left: -26px;
	background: url(/static/images/loading.gif) 5px center no-repeat;
}


.precedenceControl {
	width: 24px;
}

.app-link {
	font-size: 14px;
	padding: 10px;
	margin: 5px 0;
	display: block;
	border-radius: 5px;
	background: #fff;
}

.app-link:hover {
	background: #f6f6f6;
	text-decoration: none;
}

.dragItem {
	position: relative;
	height: 42px;
}

.dragItemContent {
	font-size: 14px;
	padding: 8px 10px 7px;
	margin: 5px 0;
	display: block;
	border-radius: 4px;
	background: #fff;
	z-index: 1;
	position: absolute;
	left: 0;
	right: 35px;
}
.dragItem .extra {
	position: absolute;
	float: right;
	top: 5px;
	right: 0;
}

.alert {
	display: block;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0,0.5);
}

.alert a {
	color: #fff;
	text-decoration: underline;
}

.hide {
	display: none;
}

.pos {
	background: #3ace00;
	background: -moz-linear-gradient(top,  #3ace00 0%, #299100 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ace00), color-stop(100%,#299100));
	background: -webkit-linear-gradient(top,  #3ace00 0%,#299100 100%);
	background: -o-linear-gradient(top,  #3ace00 0%,#299100 100%);
	background: -ms-linear-gradient(top,  #3ace00 0%,#299100 100%);
	background: linear-gradient(top,  #3ace00 0%,#299100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ace00', endColorstr='#299100',GradientType=0 );
	border: 1px solid rgba(0,0,0,0.04);
}

.neg {
	background: #ce0000;
	background: -moz-linear-gradient(top,  #ce0000 0%, #910000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce0000), color-stop(100%,#910000));
	background: -webkit-linear-gradient(top,  #ce0000 0%,#910000 100%);
	background: -o-linear-gradient(top,  #ce0000 0%,#910000 100%);
	background: -ms-linear-gradient(top,  #ce0000 0%,#910000 100%);
	background: linear-gradient(top,  #ce0000 0%,#910000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0000', endColorstr='#910000',GradientType=0 );
	border: 1px solid rgba(0,0,0,0.04);
}

.inf {
	background: #0371ce;
	background: -moz-linear-gradient(top,  #0371ce 0%, #004c92 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0371ce), color-stop(100%,#004c92));
	background: -webkit-linear-gradient(top,  #0371ce 0%,#004c92 100%);
	background: -o-linear-gradient(top,  #0371ce 0%,#004c92 100%);
	background: -ms-linear-gradient(top,  #0371ce 0%,#004c92 100%);
	background: linear-gradient(top,  #0371ce 0%,#004c92 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0371ce', endColorstr='#004c92',GradientType=0 );
	border: 1px solid rgba(0,0,0,0.04);
}

.dis {
	background: #ccc;
	background: -moz-linear-gradient(top,  #efefef 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  #efefef 0%,#ddd 100%);
	background: -o-linear-gradient(top,  #efefef 0%,#ddd 100%);
	background: -ms-linear-gradient(top,  #efefef 0%,#ddd 100%);
	background: linear-gradient(top,  #efefef 0%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ddd',GradientType=0 );
	border: 1px solid rgba(0,0,0,0.04);
	color: #999;
}

#applications-list {
	margin-bottom: 20px;
}

.prevNextBtn {
	height: 40px;
}

.headingSearch {
	padding-top: 5px;
}

.appInfo {
    font-size: 16px;
    display: block;
    padding-top: 8px;
}