/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background: white;
opacity: 0.5 !important;
top: 56px;
position:absolute;}

#colorbox{-webkit-box-shadow:0px 0px 40px #999;}

    #cboxContent{background: white;border: 1px solid #999;}
        #cboxLoadedContent{margin-bottom:5px; padding:25px 10px 0 10px;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}
        
        #cboxClose{background:url(../images/close.png) center center no-repeat; width:32px; height:26px;
				border: solid #999;
				border-width: 0 0 1px 1px;
				padding-top: 4px;
				text-indent: -9999px;
				position:absolute;
				right: 0px;
				top: 0px;
				-webkit-border-bottom-left-radius:5px;
				-moz-border-bottom-left-radius:5px;
				-webkit-box-shadow: #CCC 0px 0px 10px;
				-moz-box-shadow: #CCC 0px 0px 10px;
		}
        #cboxClose.hover{}
        
        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}